.container {
    height: auto;
    max-width: 60rem;
    border: 2px solid black;

    display:flex;
    flex-flow:column nowrap;
    align-items: center;
}
.float-container label {
    position: absolute;
    font-size: 0.75em;
    padding: 2px;
}
.float-container input {
    height: 2.75em
}